
<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>Add Attribute | DEXTRA</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">


<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectBox.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectFilter2.js"></script>


    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    

<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=" app-auth model-group change-form" onload="aaa()" onunload="bbb()"
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    
        <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name"><a href="/dextra/">DEXTRA</a></h1>

        </div>


                <div id="user-tools">
             {% csrf_token %}
                Welcome,
            {% if request.session.username %}
                <strong>{{ request.session.username }}.</strong>
            {% else %}
                <strong>Please login again.</strong>
            {% endif %}
                <a href="/password_change/">Change password</a> /

                <a href="/logout/">Log out</a>

        </div>



    </div>
    <!-- END Header -->
    
<div class="breadcrumbs">
<a href="/welcome/">Home</a>
&rsaquo;&rsaquo;&rsaquo; <a href="attrmanage">Attribute Management</a>
    &rsaquo;&rsaquo;&rsaquo; <a href="exploration">Attribute Exploration</a>
&rsaquo;&rsaquo;&rsaquo; <a href="clusterrefine">Cluster Refinement</a>
    &rsaquo;&rsaquo;&rsaquo; <a href="/exploration">Cluster View</a>
</div>

    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Bind values to a specific attribute</h1>

        <div class="module">
        <h2>Expert Bind Operation</h2>
        <form action="" method="post" id="user_form" novalidate><input type="hidden">
             {% csrf_token %}
<div>







  <fieldset class="module aligned wide">
      <div class="form-row field-username">
                          <div>
                        <label class="required" for="id_attrname"> &nbsp&nbspSelect Attribute:</label>
 <select name="seleattr" id="id_contents" Single data-field-name="contents" data-is-stacked="0">
     {% for item in data %}
  <option value="{{ item.id }}"> {{ item.attrname }}</option>
 {% endfor %}
</select>
                </div>




</div>



        <div class="form-row field-username">
                <div>
                        <label class="required" for="id_attrvalue"> &nbsp&nbspAttribute Standard Value:</label>
                            <input type="text" name="attrvalue" class="vTextField" maxlength="80" value="" autofocus required id="id_attrvalue">
                        <div class="help">&nbsp&nbsp Letters, digits and _ only.</div>
                </div>
        </div>
              <div class="form-row field-username">
                <div>
                        <label class="required" for="id_synonym"> &nbsp&nbspDefault Synonym Value:</label>
                            <input type="text" name="attrsynonym" class="vTextField" maxlength="80" value="" autofocus required id="id_synonym">
                        <div class="help">&nbsp&nbsp Letters, digits and _ only.</div>
                </div>
        </div>











</fieldset>













<div class="submit-row">

<input type="submit" value="Add Attribute" class="default" name="_save">&nbsp&nbsp&nbsp
</div>








</form>







    </div>
        <br class="clear">
    </div>

　　<script>


function bbb(){
    window.opener.location.reload(); //刷新父级页面
}

　function aaa(){

　　　　　　//window.opener.document.getElementById("bbb").value="123123123";//向父页面传值

　　　　　　//获取父级页面的的值

　　　　　　//window.opener.a();   调用父级页面的方法
        var editor = window.opener.document.getElementById("id__attribute_editor").value;
        //document.write(editor);
        document.getElementById("id_attrvalue").value = editor;
        document.getElementById("id_synonym").value = editor;

　　　　　　　　　　　　//alert(window.opener.a().value);

　　　　　　

　　　　}


　　</script>

    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
