
<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>Password change</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">



    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    

<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=""
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/welcome/">DEXTRA test system</a></h1>

        </div>
        
        
        <div id="user-tools">
            {% csrf_token %}
                Welcome,
            {% if request.session.username %}
                <strong>{{ request.session.username }}.</strong>
            {% endif %}
             Change password / <a href="/logout/">Log out</a>
        </div>
        
        
        
    </div>
    <!-- END Header -->
    
<div class="breadcrumbs">
<a href="/welcome/">Home</a>
&rsaquo; Password change
</div>

    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Password change</h1>
        <div id="content-main">

<form method="post"><input type="hidden" name="csrfmiddlewaretoken" value="fvo8Qmh5qPM40lh1pKXmJtvrj4MOHEKfdmRwIUaVo06hRABddnQ0LUPUYTGdkBQj">
<div>



<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

<fieldset class="module aligned wide">

<div class="form-row">
    
    <label class="required" for="id_old_password">Old password:</label> <input type="password" name="old_password" autofocus required id="id_old_password">
</div>

<div class="form-row">
    
    <label class="required" for="id_new_password1">New password:</label> <input type="password" name="new_password1" required id="id_new_password1">
    
    <div class="help"><ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul></div>
    
</div>

<div class="form-row">

    <label class="required" for="id_new_password2">New password confirmation:</label> <input type="password" name="new_password2" required id="id_new_password2">
    
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" value="Change my password" class="default">
</div>

</div>
</form></div>


        
        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
