<!DOCTYPE html>

<html lang="en-us">
<head>
    <title> Exploration | EXACT</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">

    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.treeview.js"></script>
    <script src="/static/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="/static/js/jquery.knob.js"></script>
    <script src="/static/js/jquery.throttle.js"></script>
    <script src="/static/js/jquery.classycountdown.js"></script>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    <link rel="stylesheet" href="/static/css/jquery.treeview.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.classycountdown.css"/>
    <style type="text/css">

        .ClassyCountdownDemo {
            margin: 0 auto 30px auto;
            max-width: 800px;
            width: calc(100%);
            padding: 30px;
            display: block
        }

        #countdown2 {
            background: #FFF
        }

        #countdown3 {
            background: rgb(52, 73, 94)
        }

        #countdown4 {
            background: #222
        }

        #countdown5 {
            background: #222
        }

        #countdown6 {
            background: #222
        }

        #countdown7 {
            background: #222
        }

        #countdown8 {
            background: #222
        }

        #countdown9 {
            background: #FFF
        }

        #countdown10 {
            background: #3498db
        }

        .summaryText {
            color: orangered;
            font-weight: bold;
        }

        .detailtext {
            color: darkred;

        }

        .deli {
            color: cadetblue;
            font-weight: bolder;

        }
    </style>

    <meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=" app-auth model-user change-list"
      data-admin-utc-offset="0">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

            <h1 id="site-name"><a href="/dextra/"><strong>EXACT</strong></a>-<strong>E</strong>ntity e<strong>X</strong>tr<strong>ACT</strong>ion
            </h1>

        </div>


        <div id="user-tools">
            {% csrf_token %}
            Welcome,
            {% if request.session.username %}
                <strong>{{ request.session.username }}.</strong>
            {% else %}
                <strong>Please login again.</strong>
            {% endif %}
            <a href="/password_change/">Change password</a> /

            <a href="/logout/">Log out</a>

        </div>


    </div>
    <!-- END Header -->

    <div class="breadcrumbs">
        <a href="/welcome/">Home</a>
        &rsaquo;&rsaquo;&rsaquo; <a href="exploration">Attribute Exploration</a>
        &rsaquo;&rsaquo;&rsaquo; <a href="/sigirexp/entityview">Entities Viewing</a>
    </div>


    <!-- Content -->


    <div id="content" class="flex">

        <h1>The Content Exploration</h1>

        <div id="content-main">


            <div style="position: fixed;width: 95%;">

                <ul class="object-tools" id="tree">
                    <li>
                        <a href="" class="addlink">
                            Attributes Quick Look and Edit
                        </a>
                    </li>
                </ul>
                {#  <script type="text/javascript">#}
                {#    $("#tree").treeview();#}
                {#   </script>#}
            </div>
            <div class="module filtered" id="changelist">


                <div id="toolbar">
                    <form id="changelist-search" method="get">
                        <div><!-- DIV needed for valid HTML -->
                            <label for="searchbar"><img src="/static/admin/img/search.svg" alt="Search"></label>
                            <input type="text" size="40" name="q" value="" id="searchbar" autofocus>
                            <input type="submit" value="Search" id="searchresult">


                        </div>
                    </form>
                </div>


                <script>


                    $("#1searchresult").click(function () {
                        $.ajaxSetup({
                            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                        });
                        $.ajax({
                            url: "exploration",
                            type: 'POST',
                            tradition: true,
                            data: {
                                "searchkey": $("#searchbar").val(),
                                "page": $("#page").val(),
                            },
                            error: function (data) {
                                alert('request failed');
                            },
                            success: function (data) {
                                var str1 = "";
                                $('#tbody').empty(); //清空tbody内容
                                // 生成新的table数据元素并添加到table中
                                for (var i = 0; i < data.length; i++) {
                                    str1 = "<tr class=\"row1\"><td class=\"action-checkbox\"><input type=\"checkbox\" name=\"_selected_action\" value=\"1\" class=\"action-select\"></td>" + "<td>" + data.data[i].id + "<td>" + "<td>" + data.data[i].text + "</td>" + "</tr>";
                                    $('#tbody').append(str1)
                                }
                            }
                        })
                    })
                </script>


                <div id="changelist-filter">
                    <h2>Progress View</h2>
                    <h3>Entities Progress:
{#                        <progress max="100" value="{{ epg }}" id="pg"></progress>#}
                        <div><meter min="0" low="50" high="80" max="100" optimum="81" value="{{ epg }}"></meter>
                        <label> {{ epg }}% &nbsp</label></div>

                    </h3>
                    <h3>Attributes Progress:
                        {% for k,v in ap.items %}
                            <div>
{#                                <progress value="{{ v }}" max="100"></progress>#}
{#                                <label>&nbsp {{ k }}</label>#}
                            <meter width="100px" min="0" low="50" high="80" max="100" optimum="81" value="{{ v }}"></meter>
                            <label> {{ v }}% &nbsp 【{{ k }}】</label>
                            </div>
                        {% endfor %}
                    </h3>




                    <h2>Pattern Exploration</h2>

                    <h3>finding siblings: {{ attrname }} </h3>
                    <form action="" method="post" class="checkbox-row">
                        {% for k in matches %}
                            <p class="checkbox-row"><input name="matchsibling" type="checkbox" value="{{ k }}"/> {{ k }}
                            </p>
                        {% endfor %}
                    </form>


                    <div class="submit-row">
                        <input type="button" onclick="popupfunc5()" class="default" name="further sibling exploration"
                               value="more...">
                    </div>

                    <h3> finding synonyms: {{ standvalue }}</h3>
                    <form action="" method="post" class="checkbox-row">
                        {% for k in syns %}
                            <p class="checkbox-row"><input name="matchsynonym" type="checkbox" value="{{ k }}"/> {{ k }}
                            </p>
                        {% endfor %}
                    </form>

                    <div class="submit-row">
                        <input type="button" onclick="popupfunc6()" class="default" name="further synonym exploration"
                               value="more...">
                    </div>

                    <h2>Attribute Exploration</h2>

                    <form action="" method="post" class="checkbox-row">
                        {% for k,v in attrIG %}
                            <p class="checkbox-row"><input name="IG" type="checkbox" value="{{ k }}"/> {{ k }} </p>
                        {% endfor %}
                        {% for item in attrIG2 %}
                            <p class="checkbox-row"><input name="IG" type="checkbox"
                                                           value="{{ item.id }}"/> {{ item.substring }} </p>
                        {% endfor %}
                    </form>

                    <div class="submit-row">
                        <input type="button" onclick="popupfunc4()" class="default" name="further attr exploration"
                               value="more...">
                    </div>


                </div>


                <form id="changelist-form" method="post" novalidate><input type="hidden" name="csrfmiddlewaretoken"
                                                                           value="CTsvsnHtYSzMVPGjPnG0mFh0D7IFqnN5y6MWjozRaQe7MbjbOgVMo6yJGsBn0JvX">


                    <div class="results">

                        <div class="actions">


                            <label>Gold/Trash: <select name="action" required>
                                <option value="gold" selected>Gold</option>

                                <option value="delete_selected">Trash</option>

                            </select></label><input type="hidden" name="select_across" value="0"
                                                    class="select-across">


                            <button type="submit" class="button" title="Run the selected action"
                                    name="index" value="0">Go
                            </button>


                            <span class="action-counter" data-actions-icnt="10">0 of 10 selected</span>


                        </div>


                        {#                        <table>#}
                        {##}
                        {#                            <tr class="model-group">#}
                        {#                                <th>#}
                        {##}
                        {#                                    <div class="actions">#}
                        {##}
                        {##}
                        {#                                        <label>Gold/Trash: <select name="action" required>#}
                        {#                                            <option value="gold" selected>Gold</option>#}
                        {##}
                        {#                                            <option value="delete_selected">Trash</option>#}
                        {##}
                        {#                                        </select></label><input type="hidden" name="select_across" value="0"#}
                        {#                                                                class="select-across">#}
                        {##}
                        {##}
                        {#                                        <button type="submit" class="button" title="Run the selected action"#}
                        {#                                                name="index" value="0">Go#}
                        {#                                        </button>#}
                        {##}
                        {##}
                        {#                                        <span class="action-counter" data-actions-icnt="10">0 of 10 selected</span>#}
                        {##}
                        {##}
                        {#                                    </div>#}
                        {#                                </th>#}
                        {#                                <td>#}
                        {##}
                        {##}
                        {#                                    {% for k,v in ap.items %}#}
                        {#                                        <div>#}
                        {#                                            <progress value="{{ v }}" max="100"></progress>#}
                        {#                                            <label>&nbsp {{ k }}</label>#}
                        {#                                        </div>#}
                        {#                                    {% endfor %}#}
                        {##}
                        {##}
                        {#                                </td>#}
                        {#                                <td>                     {% for k,v in ap2.items %}#}
                        {#                                    <div>#}
                        {#                                        <progress value="{{ v }}" max="100"></progress>#}
                        {#                                        <label>&nbsp {{ k }}</label>#}
                        {#                                    </div>#}
                        {#                                {% endfor %}#}
                        {##}
                        {#                                </td>#}
                        {#                                <td> &nbsp&nbsp&nbsp</td>#}
                        {#                            </tr>#}
                        {##}
                        {##}
                        {#                        </table>#}
                        <table id="result_list">
                            <thead>
                            <tr>

                                <th scope="col" class="action-checkbox-column">

                                    <div class="text"><span><input type="checkbox" id="action-toggle"></span></div>
                                    <div class="clear"></div>
                                </th>
                                <th scope="col" class="sortable column-username sorted descending">
                                    <div class="text"><a href="?o=1.-2">ID</a></div>
                                    <div class="clear"></div>
                                </th>
                                <th scope="col" class="sortable column-is_staff">
                                    <div class="text"><a href="?o=5.-2.-1">text</a></div>
                                    <div class="clear"></div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>


                            {% for d in data %}
                                <tr class="row1">
                                    <td class="action-checkbox"><input type="checkbox" name="_selected_action" value="1"
                                                                       class="action-select"></td>
                                    <th class="field-username">{{ d.id }}</th>
                                    <td>{{ d.labeledtext|safe }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="paginator">
    <span class="step-links">
        {% if data.has_previous %}
            <a href="?page={{ data.previous_page_number }}&q={{ searchkey }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ data.number }} of {{ data.paginator.num_pages }}.
        </span>

        {% if data.has_next %}
            <a href="?page={{ data.next_page_number }}&q={{ searchkey }}">next</a>
        {% endif %}
    </span>
                    </div>


                </form>

                <form action="" method="post">
                    {% csrf_token %}
                    <fieldset class="module aligned ">
                        <h2>Attribute Edit</h2>
                        <div class="form-row field-first_name">
                            <div>
                                <label for="id__attribute_editor">Attribute Editor:</label>
                                <textarea name="attribute_editor" class="vTextField"
                                          id="id__attribute_editor"></textarea>
                                <div class="help">bind these values to an specific attribute or save as an new
                                    attribute
                                </div>
                            </div>
                        </div>
                        <div class="submit-row">
                            <input type="button" onclick="popupfunc()" class="default" name="_save"
                                   value="Attribute Creation">
                            <input type="button" onclick="popupfunc2()" class="default" name="_addanother"
                                   value="Value Binding">
                            <input type="button" onclick="popupfunc3()" class="default" name="_continue"
                                   value="Synonym Binding">
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>


        <br class="clear">
    </div>


    <script>

        function popupfunc() {
            var oText = document.getElementById("id__attribute_editor")
            window.open("add", "popup_page", "modal=yes,status=1,height:100,width:400,toolbar=0,resizeable=no")
        }

        function popupfunc2() {
            var oText = document.getElementById("id__attribute_editor")
            window.open("addvalue", "popup_page2", "modal=yes,status=1,height:100,width:400,toolbar=0,resizeable=no")
        }

        function popupfunc3() {
            var oText = document.getElementById("id__attribute_editor")
            window.open("addsynonym", "popup_page3", "modal=yes,status=1,height:100,width:400,toolbar=0,resizeable=no")
        }

        function popupfunc4() {
            var oText = document.getElementById("id__attribute_create")
            window.open("attrexploration", "popup_page4", "modal=yes,status=1,height:100,width:400,toolbar=0,resizeable=no")
        }

        function popupfunc5() {
            var oText = document.getElementById("id__attribute_create")
            window.open("pattern_siblings", "popup_page5", "modal=yes,status=1,height:100,width:400,toolbar=0,resizeable=no")
        }

        function popupfunc6() {
            var oText = document.getElementById("id__attribute_create")
            window.open("pattern_synonyms", "popup_page6", "modal=yes,status=1,height:100,width:400,toolbar=0,resizeable=no")
        }

        {#    alert("接收p2弹出框数据:"+data)#}

        function p1_receive_func(data) {
            var op = document.createElement("option");
            op.innerHTML = data;
            op.setAttribute("selected", "selected");
            document.getElementById("i1").appendChild(op);
        }
    </script>


    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
